* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline {
    display: flex;
    width: 870px;
    margin-bottom: 20px;
    position: relative;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 80px;
    top: 132px;
    background-color: #cfdadc;
}

.timeline-left {
    flex: 200px;
    margin-top: 52px;
    position: relative;
}

.timeline-avatar {
    border: 3px solid #cfdadc;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 35px;
}

.avatar {
    background: #e4eaed;
    width: 85px;
    height: 85px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: auto;
}

.timeline-right {
    font-family: 'Source Sans Pro', sans-serif;
    width: 665px;
    padding-left: 20px;
    border: 1px solid #f0f3f2;
}

.info-top {
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
    color: #99a9b5;
}

.timeline:first-child .info-top {
    margin: 6px 0 0 60px;
}

.label {
    background: #00bcd4;
    width: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.label::after {
    bottom: -10px;
    content: "";
    background: #00bcd4;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: skew(0deg, 20deg);
    transform-origin: 100% 100%;
}

.label::before {
    bottom: -10px;
    content: "";
    background: #00bcd4;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: skew(0deg, -20deg);
    transform-origin: 0% 100%;
}

.admin {
    text-decoration: none;
    color: #60d2e0;
}

.sep {
    margin: 0 6px;
    border-left: 1px solid #99a9b5;
    height: 20px;
    vertical-align: middle;
}

.info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.4px;
    line-height: 42px;
    text-transform: uppercase;
}

.light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.info-desc {
    font-size: 16px;
    line-height: 25px;
    margin: 0 18px 0 0;
    color: #5f727f;
}

.info-top-right {
    float: right;
    margin-right: 15px;
}

.info-top-right i {
    letter-spacing: 7px;
    margin-left: 5px;
}

.red {
    color: red;
}

.btn-group {
    margin: 30px 0 20px 0;
}

.share-btn {
    background-color: #b6c6c9;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    margin: 0 16px 0 0;
    border-radius: 3px;
}

.share-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.61);
}

.readmore-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    background-color: #fff;
    border: 2px solid #00bcd4;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    color: #00bcd4;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.95px;
}

.readmore-btn:hover {
    cursor: pointer;
    background-color: #00bcd4;
    color: #fff;
}

.loadmore-holder {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: table-cell;
    padding: 0px 20px 0 20px;
    vertical-align: middle;
    margin-top: 85px;
}

.loadmore {
    background: #b6c6c9;
    font-weight: 800;
    font-size: 19px;
    width: 260px;
    text-transform: uppercase;
    letter-spacing: 0.95px;
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    color: #fff;
}

.loadmore:hover {
    background: #fff;
    color: #b6c6c9;
    cursor: pointer;
}

.hori-line-holder {
    display: table-cell;
    vertical-align: middle;
    width: 260px;
    height: 50px;
    margin-top: 85px;
}

.arrow {
    position: absolute;
    top: 0;
    stroke: #f0f3f2;
    fill: #fff;
    vertical-align: middle;
    left: 156px;
    width: 50px;
}

.bottom-side {
    margin-top: 50px;
}
